/* #region General reset */

/* source: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.6;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* #endregion */

:root {
  /* colors */
  --clr-accent: hsl(220 98% 61%);
  --clr-check-grad: linear-gradient(hsl(192 100% 67%), hsl(280 87% 65%));

  /* font */
  --ff-primary: 'Josefin Sans', sans-serif;
  --fs-body: 18px;
}

body {
  /* colors light */
  --clr-body-bg: hsl(236, 33%, 92%);
  --clr-item-bg: hsl(0, 0%, 98%);
  --clr-text: hsl(235, 19%, 35%);
  --clr-text-done: hsl(234, 39%, 85%);
  --clr-status: hsl(236, 9%, 61%);
  --clr-divider: hsl(234, 39%, 85%);

  --bg-image: url('./assets/images/bg-mobile-light.jpg');
}

body.dark {
  /* colors dark */
  --clr-body-bg: hsl(235, 21%, 11%);
  --clr-item-bg: hsl(235, 24%, 19%);
  --clr-text: hsl(236, 33%, 92%);
  --clr-text-done: hsl(233, 14%, 35%);
  --clr-status: hsl(234, 11%, 52%);
  --clr-divider: hsl(237, 14%, 26%);

  --bg-image: url('./assets/images/bg-mobile-dark.jpg');
}

body {
  background-color: var(--clr-body-bg);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;

  font-family: var(--ff-primary);
  color: var(--clr-text);

  display: flex;
  justify-content: center;

  transition: all 30ms ease-in-out;
}

main {
  padding-inline: 1rem;
  flex: 1;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 600px;
}

header {
  margin-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  letter-spacing: 0.5rem;
}

input[type='text'] {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  color: var(--clr-text);
  background-color: var(--clr-item-bg);
  caret-color: var(--clr-accent);
}

input[type='text']::placeholder {
  color: var(--clr-text-done);
}

/* #region Checkbox styles */

.checkIcon {
  transform: scale(0);
}

.checkbox {
  min-width: 1.5rem;
  min-height: 1.5rem;
  border: solid 0.09rem var(--clr-divider);
  border-radius: 50%;

  background-origin: border-box;
  background-clip: content-box, border-box;

  display: grid;
  place-items: center;

  transition: all 50ms ease-in-out;
}

.checkbox:hover {
  border-color: transparent;
  background-image: linear-gradient(var(--clr-item-bg), var(--clr-item-bg)),
    var(--clr-check-grad);
}

.checkbox.checked {
  border-color: transparent;
  background-image: var(--clr-check-grad);
}

.checkbox.checked .checkIcon {
  transform: scale(1);
}

/* #endregion */

.shadow {
  -webkit-box-shadow: 0px 0px 41px -11px var(--clr-body-bg);
  -moz-box-shadow: 0px 0px 41px -11px var(--clr-body-bg);
  box-shadow: 0px 0px 41px -11px var(--clr-body-bg);
}

.filter .active {
  color: var(--clr-accent);
}

form.itemStyle {
  border-radius: 0.5em;
}

.todoItems {
  margin: 0;
  padding: 0;
  margin-block: 1.3rem;
  border-radius: 0.5em;
  overflow: hidden;
}

.itemDone {
  text-decoration: line-through;
  color: var(--clr-text-done);
}

.itemDone.active,
.itemPending.completed {
  display: none;
}

.itemStyle {
  padding: 0;
  margin: 0;
  padding-inline: 1rem;
  padding-block: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  list-style-type: none;
  background-color: var(--clr-item-bg);
}

.itemStyle > img {
  margin-inline-start: auto;
}

li.itemStyle {
  border-bottom: 1px solid var(--clr-divider);
}

.itemStyle.status {
  justify-content: space-between;
  font-size: 1rem;
  color: var(--clr-status);
}

.status .asButton:hover {
  color: var(--clr-text);
}

.filter {
  font-weight: bold;
  color: var(--clr-status);
}

.filter span:hover {
  color: var(--clr-text);
}

.itemStyle.filter {
  justify-content: center;
  gap: 1.5rem;
  border-radius: 0.5em;
}

.asButton {
  cursor: pointer;
  transition: all 50ms linear;
}
.asButton:hover {
  opacity: 90%;
  transform: scale(1.05);
}

footer {
  color: var(--clr-status);
  margin-block: 3rem;
  text-align: center;
}

.hideOnMobile {
  display: none;
}

@media screen and (min-width: 700px) {
  body {
    --bg-image: url('./assets/images/bg-desktop-light.jpg');
  }

  body.dark {
    --bg-image: url('./assets/images/bg-desktop-dark.jpg');
  }

  main {
    margin-top: 10%;
  }

  .hideOnDesktop {
    display: none;
  }

  .hideOnMobile {
    display: block;
  }

  .filter > * + * {
    margin-left: 1rem;
  }

  li.itemStyle:hover img {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  main {
    margin-top: 30%;
  }
}
